.main-error-404{
    background: rgb(95,9,235);
    background: linear-gradient(90deg, rgba(95,9,235,1) 10%, rgba(95,9,235,1) 31%, rgba(230,255,95,0.9612219887955182) 88%);    
    padding-top: 10vh;
    padding-bottom: 30vh; 
}





