*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'League Spartan', sans-serif;
    color: map-get($colores , color-negro );
    background-color: map-get($colores , color-blanco );
}